<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <a href="/" style="text-decoration:none;">
                <img src="/sflop.jpg" alt="me with floppy disk" style="-webkit-border-radius: 500px;-moz-border-radius: 500px;border-radius: 500px;width:50%">
            </a>
            <h1>
                <a href="/" style="text-decoration:none;">
          {{ site.author.name }}
        </a>
            </h1>
            <nav class="sidebar-nav">
                <p>➫ <a href="/tags/">Browse by tags</a></p>
                <p>➬ <a href="https://ashleyblewer.com">My homepage</a></p>
                <p>➫ <a href="https://archivesoftomorrow.com">Work with me</a></p>
                <p>➬ <a href="https://eepurl.com/h5MFNn">Mailing list</a></p>
        </div>
        ➬ <a rel="me" href="https://digipres.club/@ashley">🐘</a> | <a href="https://twitter.com/ablwr">🐦</a> | <a href="https://github.com/ablwr">🐙</a> | <a href="https://bits.ashleyblewer.com/feed.xml">📡</a> | <a href='https://webring.recurse.com'>💚</a>
        </nav>
    </div>
</div>