<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/" style="text-decoration:none;">
          {{ site.author.name }}
        </a>
      </h1>
      ➫ <a href="/tags.html">Browse by tags</a>
      <a href="/" style="text-decoration:none;">
        <p>💖 📺 💾 💻 📟 ✨</p>
      </a>
    </div>
    <nav class="sidebar-nav">
      <a href="/" style="text-decoration:none;">
        <img src="/sflop.jpg" alt="me with floppy disk" style="-webkit-border-radius: 500px;-moz-border-radius: 500px;border-radius: 500px;width:50%">
      </a>
      ➫➬➫ <a href="https://twitter.com/ablwr">🐦</a> | <a href="https://github.com/ablwr">🐙</a> | <a href="http://ashleyblewer.com">🖥</a> | <a href="https://bits.ashleyblewer.com/feed.xml">📡</a> | <a href='https://webring.recurse.com'>💚</a>
    </nav>
  </div>
</div>
